@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
    .fontaw-class{
        --fa-primary-color: #0381ff;
        --fa-secondary-color: #cd4e98;
    }

    .fontaw-class:hover{
        --fa-secondary-opacity: 1;
    }

    @variants hover, focus {

        .transition-all-1\/2 {
            transition: all 0.5s ease;
        }
        .transition-all-1 {
            transition: all 1s ease;
        }
        .transition-all-2 {
            transition: all 2s ease;
        }

        .rotate-0 {
            transform: rotate(0deg);
        }
        .rotate-90 {
            transform: rotate(90deg);
        }
        .rotate-180 {
            transform: rotate(180deg);
        }
        .rotate-270 {
            transform: rotate(270deg);
        }
    }
}